.mencoll{
    &__content{
        @include flex(center,space-between, wrap);
    }
    &__name{
        @include font (600, 15px, $text-black);
    }
    &__details{
        position: relative;
        padding: 10px; ;
    }
    &__details:before{
        position: absolute;
        left:0;
top: 0;
width: 100%;
height: 100%;
background: rgba(114, 111, 111, 0.8);
opacity: 0;
transition: all 0.4s ease;
content: "";
    }
    &__details:hover:before{
opacity: 1;
    }

}

@media (max-width:790px){
    .mencoll__details{
        display: none;
    }
    }
  