.womcoll{
    &__content{
        @include flex(center, space-between, wrap);
    }
    &__name{
        @include font (600, 15px, $text-black);
    }
    &__details{
        position: relative;
        padding: 10px; ;
    }
    &__igure{
        margin-top: 18px;
        @include font(300, 15px, $text-black)
    }
    &__price{
    margin-left: 35px;
    }
    &__details:before{
        position: absolute;
        left:0;
top: 0;
width: 100%;
height: 100%;
background: rgba(84, 83, 83, 0.8);
opacity: 0;
transition: all 0.4s ease;
content: "";
    }
    &__details:hover:before{
opacity: 1;
    }

}
@media (max-width:790px){
    .womcoll{
        &__details{
        display: none;
        &__content{
            @include flex(center, center, wrap);
        }
    }
    }
}